body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    font-weight: 800;
}
h2{
    font-size: 35px;
}
.first-section{
    display: flex;
    padding: 4% 8% 0 8%;
}
.first-section h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-left: 4px solid rgb(17, 207, 255);
}
.one-half h1{
    padding-left: 20px;
    line-height: 80px;
}
.last-h1{
    color: #fec162;
}
.one-half{
    width: 50%;
}

.person-img img{
    width: 60%;
    float: right;
}

.universal-btn{
    text-decoration: none;
    background-image: linear-gradient(#11cfff, #00a6e7);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}
.first-section p{
    margin: 30px 0;
    line-height: 30px;
    font-size: 16px;
}
.my-mission{
    padding: 0 8%;
}
.my-mission h2{
    text-align: center;
}
.three-box{
    display: flex;
}
.box img{
    width: 50%;
}
.box{
    padding: 30px;
    margin: 15px;
    border-radius: 15px;
}
.box1{
    background-color: #edf5f6;
}

.box2{
    background-color: #ffeeee;
}
.box3{
    background-color: #fff4d6;
}
.coding-section{
    display: flex;
    padding: 4% 8%;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}
.develop-left{
    width: 40%;
}
.develop-right{
    width: 60%;
}
.develop-left img{
    width: 80%;
}
.develop-right p{
    padding-bottom: 30px;;
}

.training-section{
    display: flex;
    padding: 4% 8%;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right bottom;
}
.training-left{
    width: 60%;
}
.training-right{
    width: 40%;
}
.training-right img{
    width: 80%;
    float: right;
}
.training-left p{
    padding-bottom: 30px;;
}
.course-pricing{
    padding: 4% 8%;
}
.four-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing-box{
    margin:10px;
    border: 3px solid;
    border-image: linear-gradient(#fec162, #11cfff) 27;
    padding: 20px;
    border-radius: 10px;
}
.pricing-box img{
    width: 80%;
    display: block;
    margin-left: auto;
     margin-right: auto;
}
.pricing-box h3, .pricing-box p{
    text-align: center;
}
.box-btn{
    margin: 0 auto;
}